# IMPORTING  DEPENDENCIES

In [17]:
from sklearn.svm import SVC
import pandas as pd
import numpy as np
import pickle

# DATA PREPROCESSING

In [2]:
df = pd.read_csv("ForestFireDataset.csv")

In [4]:
df = df.drop(["Area"],axis = 'columns')

In [8]:
df

     Oxygen  Temperature  Humidity  Fire Occurrence
0        40           45        20                1
1        50           30        10                1
2        10           20        70                0
3        60           45        70                1
4        30           48        10                1
..      ...          ...       ...              ...
229      30           51         2                1
230      60           60        10                1
231      10           10        60                0
232       0           30         0                0
233      45           45        15                1

[234 rows x 4 columns]

# DATA SEGRECATION INTO FEATURES AND TARGET

In [11]:
outputs = df.drop(["Oxygen","Temperature","Humidity"],axis = 'columns')

In [12]:
outputs

     Fire Occurrence
0                  1
1                  1
2                  0
3                  1
4                  1
..               ...
229                1
230                1
231                0
232                0
233                1

[234 rows x 1 columns]

In [13]:
inputs = df.drop(["Fire Occurrence"],axis = 'columns')

## DATA SEGRECATION FOR TRAINING AND TESTING MACHINE MODEL(WITHOUT PCA)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,outputs,test_size=5)

# Applying Machine Learning Models without  Principal Component Analysis

In [16]:
SV_model = SVC()
SV_model.fit(X_train, y_train)
SV_model.score(X_test,y_test)

/Users/rakeshkanneeswaran/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

1.0

# Saving The Trained Model

In [21]:
pickle.dump(SV_model, open('modelforest.pkl', 'wb'))